<%= erb :_header %>
<% if @questions %>
  <%= erb :'/surveys/_show_questions', locals: {questions: @questions}%>
<% elsif @user %>
  <%= erb :'/surveys/_new' %>
<% elsif @survey %>
  <%= erb :'/surveys/_new_questions', locals: {survey: @survey}%>
<% elsif @question %>
  <%= erb :'/surveys/_new_answers', locals: {question: @question}%>
<% elsif @answer %>
  <%= erb :'/surveys/_new_answers', locals: {question: @question}%>
<% else %>

<% if @my_surveys %>
  <div>
    <h4>My surveys:</h4>
    <% @my_surveys.each do |survey| %>
    <p> <a href="/surveys/<%= survey.id %>"> <%= survey.title %></a></p>
    <% end %>
    <button name="new_survey"><a href="/surveys/new">Create new survey</a></button>
  </div>
<% end %>

  <div>
    <h4>All surveys:</h4>
    <% @surveys.each do |survey| %>
    <p> <a href="/surveys/<%= survey.id %>"> <%= survey.title %></a></p>
    <% end %>
  </div>
<% end %>
<%= erb :_footer %>
